{% extends 'base.html' %}

{% block studentpage %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="toolbar">
        <a class="navbar-brand" href="#">Student</a>
        <a class="toolbar-item" href="{% url 'logout' %}">Odjava</a>
        <a class="toolbar-item" href="{% url 'obrana' %}">Po ECTS-u</a>
        <a class="toolbar-item" href=" {% url 'filtriraj_po_semestru' %}">Po semestru</a>
        <a class="toolbar-item" href="{% url 'filtracija' %}">Oboje</a>
    
      </div>
    </div>
  </div>
</div>
{% endblock %}
